// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
  padding: 15px;
  color: indigo;
  background: salmon;
}

.post-body {
  padding: 15px 0 12px 0;
}

.post-attribution {
  font-size: 0.5em;
}
